/* Reset some basic elements */
body,
h1,
h2,
h3,
p,
ul,
ol,
figure,
figcaption {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Basic styling */
body {
  font-family: "Arial", sans-serif; /* You can change the font family */
  line-height: 0;
  font-size: 16px; /* Default text size */
  color: #333; /* Default text color */
  background-color: #f4f4f4; /* Background color of the body */
  margin: 0;
  padding: 20px;
}

@font-face {
  font-family: Arrow7;
  src: url(./font/Arrow7-30dG.ttf);
}

/* Header Styles */
h1,
h2,
h3 {
  color: #333;
  margin-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
  margin-bottom: 10px;
}

h1 {
  font-size: 2em; /* 32px */
  line-height: 1.6;
}

h2 {
  font-size: 1.5em; /* 24px */
  line-height: 1;
}

h3 {
  font-size: 1.17em; /* 18.72px */
  line-height: 0.5;
}
h4 {
  font-size: 1em; /* 16px */
  line-height: 0.5;
}
h5 {
  font-size: 0.83em; /* 13.28px */
  line-height: 0.5;
}
h6 {
  font-size: 0.67em; /* 10.72px */
  line-height: 0.5;
}

/* Link Styles */
a {
  color: #0654ba;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Button Styles */
button,
input[type="submit"],
input[type="button"] {
  background-color: #007bff;
  width: 100%;
  margin: 0.2em;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px; /* Rounded corners */
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #0056b3;
}

/* Form Element Styles */
input[type="text"],
input[type="email"],
input[type="password"],
select {
  padding: 10px;
  margin: 0;
  display: block;
  width: 100%;
  min-width: 20em;
  box-sizing: border-box; /* Includes padding and border in the element's width and height */
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 20px;
  resize: vertical; /* Allows vertical resize only */
}

/* Utility Classes for Margin and Padding */
.mt-1 {
  margin-top: 5px;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 15px;
}
.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.mb-3 {
  margin-bottom: 15px;
}

/* Responsive Design: Breakpoints for mobile and tablet */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
  }

  button,
  input[type="submit"],
  input[type="button"] {
    padding: 8px 16px;
    font-size: 0.9em;
  }
}
#contentContainer {
  display: flex;
  justify-content: space-between; /* Ensures that any extra space is distributed between or around the items */
  align-items: start; /* Aligns items to the top */
}

#directorySelectionSection {
  flex: 35%; /* This section will take up 30% of the total width */
  padding: 20px; /* Optional: Adds some space inside this section */
}

#worldEditorSection {
  flex: 65%; /* This section will take up 70% of the total width */
  padding: 20px; /* Optional: Adds some space inside this section */
}

.status-positive {
  color: green;
  margin: 10px 0;
}
.status-negative {
  color: red;
  margin: 10px 0;
}
.flex-box {
  display: flex;
  align-items: center;
}
.status-icon {
  margin-right: 10px;
  margin-left: 10px;
}
.data-transfer-row-entry-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.data-transfer-row-control {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  height: 2.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.world-data-input-field {
  border: none;
  padding: 10px;
  flex-grow: 1; /* Allows input to take up available space */
}

.data-transfer-button {
  /* font-family: "Arrow7", sans-serif; */

  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  font-size: 1.6em;
  background: #0084ff;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 0;
  flex-grow: 1;
}
#dataTransferHeading {
  justify-content: space-between;
}
#dataTransferRows {
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 100%;
  min-height: 100%;
  max-height: 650px;
  overflow-y: scroll;
  padding: 0.2em;
}
